body {
    font-family: Arial, Helvetica, sans-serif;
    background: #FFEFBA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #FFEFBA);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #FFEFBA);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* css cho thanh logo */
#logo_bar img{
    max-height: 90px;
}
.fa-tags,.fa-mobile-alt{
    font-size: 25px;
    color: #a41c24;
}
span{
    color: #a41c24;
}

.form-control{
    border: 1px solid #a41c24; 
}

.input-group-text{
    background-color: #a41c24;
    border: 1px solid #a41c24;
    color: #FFFFFF;
    cursor: pointer;

}

/* css cho thanh navsbar */
.navbar-light .navbar-nav .nav-link {
    color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: #FFFFFF;
}
.active{
    background-color: #FFFFFF;
}

@media (max-width: 575px){
.phone, .sale {
        display: none;
    }
}
.input-group{
    padding-top: 0px!important;
    margin-bottom: 20px;
}
.bd-example:after {
    content: '';
    display: block;
    clear: both;
}

/* phần giới thiêu description */
.description{
    max-height: 280px;
}
#medal, .my-3{
    position: relative;
    width: 50px;
    height: 50px;
    border: 5px solid #a41c24;
    border-radius: 50%;
}
.fa-medal,.fa-shipping-fast,.fa-award{
    color: #a41c24;
    font-size: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Bộ sưu tập */
#title {
    text-transform: uppercase;
    cursor: pointer;
    color: #a41c24;
}
@media only screen and (max-width: 768px) {
    #title {
        font-size: 20px;
    }
} 

#under_title {
    margin: 0 auto;
    width: 300px;
    position: relative;
}

#under_title img {
    width: 50px;
    display: block;
}

#under_title::before {
    content: "";
    height: 1px;
    background-color: #a41c24;
    width: calc((50%) - 30px);
    display: inline-block;
    position: absolute;
    top: calc((50%) - 1px);
    left: 0;
}

#under_title::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a41c24;
    width: calc((50%) - 30px);
    display: inline-block;
    top: calc((50%) - 1px);
    right: 0;
}

.card-img-top{
    cursor: pointer;
    transition: all 0.5s linear;
}
.card-img-top:hover{
    transform: scale(1.2);
    opacity: 0.8;
}

/* bài viết */
.post{
    background-image: url("img/bg.png");
}
