body{
	font-size: 18px;
	width: 960px;
	margin: 0 auto;
}
#page{
	text-align: center;
	color: white;
}
#header{
	padding: 5px;
	background-color: #003d66;
	color: yellow;
	font-size: 25px;
}
.nav{
	background-color: #336600;
	color: white;
	width: 160px;
	float: left;
	font-size: 16px;
}
article img{
	max-width: 650px;
}
#content{
	background-color: #666633;
	width: 650px;
	text-align: justify;
	float: left;
	padding-left: 20px;
}
#aside{
	background-color: #999966;
	width: 290px;
	float: right;
	padding-top: 30px;
	font-size: 14px;
	}
aside img{
	max-width: 260px;
	padding-left: 10px;
	}
#footer{
	background-color: #003d66;
	padding: 20px;
	font-size: 12px;
}