.page-nav-wrapper {
	border-bottom: 1px solid $color-gray-3;
	margin-bottom: 33px;

	.btn-link {
		color: $color-subbase;
		font-weight: 600;
		font-size: $font-size-base;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		flex: 0 0 82.5px;
		white-space: nowrap;

		span {
			font-size: 16px;
			vertical-align: middle;
		}

		&:hover {
			color: $color-orange;
			text-decoration: none;
		}
	}

	.page-nav {
		margin-right: 30px;
	}
}

.page-nav {

	li {
		list-style-type: none;
		margin-right: 32px;
		// background-color: $color-yellow;

		a {
			display: block;
			text-align: center;
			font-size: 24.8px;
			padding: 0px 13px 10px 13px;
			text-transform: uppercase;
			font-weight: 500;
			letter-spacing: 0.05em;
			line-height: 1.33em;
			position: relative;
			color: $color-gray-2;
			// background-color: #f8f9fc;

			&:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: -1px;
				width: 100%;
				height: 3px;
				background-color: $color-light-blue;
				transform: scale(0);
				transition: transform 0.3s;
			}

			&.active {
				color: $color-light-blue;

				&:after {
					transform: scale(1);
				}
			}
		}

	}

	@media (max-width: 1199px) {
		li a {
			font-size: 20px;
		}
	}

	@media (max-width: 992px) {
		li a {
			font-size: 18px;
		}
	}

	@media (max-width: 575px) {
		li {
			margin-bottom: 15px;
			margin-right: 0;

			a {
				padding-bottom: 5px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.dark-nav {
	letter-spacing: 0.025em;
	border-bottom: 1px solid #dedede;
	margin-bottom: 16px;

	.nav-link {
		font-weight: bold;
		color: $color-base - 17;
		text-transform: uppercase;
		padding: 10px 15px;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -1px;
			height: 3px;
			width: 100%;
			background-color: $color-subbase;
			opacity: 0;
			transform: scale(0);
			transition: opacity 0.3s, transform 0.3s;
		}

		&.active {
			color: $color-subbase;

			&:after {
				opacity: 1;
				transform: scale(1);
			}
		}

		> i {
			padding-right: 7px;
		}
	}

	.nav-item:first-child .nav-link {
		padding-left: 0;
	}

	@media (max-width: 767px) {
		.nav-item:first-child .nav-link {
			padding-left: 15px;
		}
	}
}

.darker-nav {
	letter-spacing: 0.025em;
	border-bottom: 1px solid $color-dark;
	margin-bottom: 24px;

	.nav-link {
		font-weight: bold;
		color: $color-subbase;
		background-color: #f0f0f0;
		text-transform: uppercase;
		padding: 12.5px 13px;
		position: relative;
		transition: color 0.3s, background 0.3s;

		&:after {
			content: "";
			position: absolute;
			bottom: -7px;
			left: 50%;
			transform: translate(-50%, 0);
			border-left: 6.5px solid transparent;
			border-top: 7px solid $color-dark;
			border-right: 6.5px solid transparent;
			opacity: 0;
			transition: opacity 0.3s;
		}

		&.active {
			color: $color-yellow;
			border-color: $color-subbase;
			background-color: $color-dark;

			&:after {
				opacity: 1;
			}
		}

		> i {
			padding-right: 7px;
		}
	}

	@media (max-width: 575px) {
		border-bottom: 0;

		.nav-link:after {
			content: none;
		}

		+ .tab-content {
			padding: 0 15px 15px 15px;
		}
	}
}