*{box-sizing: border-box;}
body{
	margin: 0;
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-size: 16px;
	font-family: inherit;
}
.banner{
	width: 960px;
	margin: 0 auto;
}
.banner img{
	width: 960px;
}
.title{
	width: 960px;
	line-height: 3rem;
	text-align: center;
	margin: 0 auto;
	text-transform: uppercase;
	background: #d1e0e0;
}
.grid-container{
	margin: 0 auto;
	text-align: center;
	width: 900px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto auto;
}

.grid-item img{
	width: 270px;
	margin-bottom: 5px;
}	

.grid-item img:hover{
	border-radius: 10px;
	opacity: 0.8;
	transform: scale(1.05);
	transition: all 0.5s linear;
}
a{
	text-decoration: none;
	color: #000000;
}
.grid-item a:hover{
	color: red;
}