/* chèn font */

@font-face {
    font-family: "inconsolata-regular";
    src: url('../Minimo/FONTS/inconsolata/Inconsolata-Regular-webfont.eot');
    /* IE9 Compat Modes */
    src: url('../Minimo/FONTS/inconsolata/Inconsolata-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Minimo/FONTS/inconsolata/Inconsolata-Regular-webfont.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: "playfairdisplay-regular";
    src: url('../Minimo/FONTS/Playfair_Display/PlayfairDisplay-Regular-webfont.eot');
    /* IE9 Compat Modes */
    src: url('../Minimo/FONTS/Playfair_Display/PlayfairDisplay-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Minimo/FONTS/Playfair_Display/PlayfairDisplay-Regular-webfont.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

body {
    font-family: "playfairdisplay-regular";
    font-size: 14px;
    color: #626262;
}

/* phần header */

@media (min-width:1200px) {
    .container {
        max-width: 1060px;
    }
}



#wrap, .banner {
    margin-top: 4rem;
}

header>#wrap::after {
    display: block;
    content: "";
    clear: both;
}

.nav-link {
    padding-right: 50px;
    padding-left: 50px;
    color: #626262;
}

#logo {
    font-family: "inconsolata-regular";
    font-size: 30px;
    max-width: 100px;
    float: left;
}

#menu-nav {
    max-width: 900px;
}
@media (max-width:768px) {
    .nav-link {
        padding-right: 20px;
        padding-left: 20px;
        color: #626262;
}
@media (max-width:576px) {
    .nav-link {
        padding-right: 5px;
        padding-left: 5px;
        color: #626262;
    }
}
/* phần section */

section>#post::after {
    display: block;
    content: "";
    clear: both;
}

@media (min-width:1200px) {
    section>#description, section>#post {
        max-width: 900px;
    }
}

h2 {
    font-size: 30px;
}

h5 {
    font-size: 14px;
    color: #b4ad9e;
}

.card {
    border: none;
}

.container-fluid {
    height: 284px;
    background-color: #f0f0f0;
}
#sign-up{
    position: absolute;
    margin: auto;
    width: 400px;  
    border-bottom: 1px solid #000;
    left: 50%;
    transform: translate(-50%);
}

input{
    border: none;
    width: 90%;
    background-color: #f0f0f0;
}
a>img{
    cursor: pointer;
}
section>#post>div::after {
    display: block;
    content: "";
    clear: both;
}


button{
    margin-top: 100px;
    font-size: 20px;
    background-color: #fff;
    color: #626262;
    left: 50%;
    transform: translate(-50px);
}

/* phần footer */
@media (min-width:1200px) {
    footer>.container{
        width: 1200px;
    }
}

footer{
    margin-top: 300px;
    max-height: 100px;
    background-color: #f0f0f0;
}

@media (min-width:1200px) {
    #footer {
        width: 900px;
    }
}