body { line-height: 1.5;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    margin: 0px auto;
    padding: 0;
    background-color: #e9eaea;
	width: 960px;
}    
*{box-sizing: border-box;}
.site-nav{
	min-width: 90%;
	background-color: #ffffff;
	margin: 0px;
}
.nav-bar{
	width: 90%;
	margin: auto;
	height: 70px;
	line-height: 70px;
	font-family: inherit;
}
.logo{
	max-height: 50px;
	float: left;
	padding-top: 10px;
}
ul.menu{
	padding: 0px;
}
.menu a{
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}
.menu li{
	list-style-type: none;
	font-weight: bold;
}
.menu li a{
	float: left;
	margin-left: 30px;
}
main{
	width: 100%;
	margin:auto;
}
.container{
	width: 100%;
	height: 50px;
}
.container li{
	float: left;
	margin-left: 0;
	list-style-type: none;
	padding: 5px;
	
}
.container li a{
	text-decoration: none;
	font-size: 16px;
	color: #000000;
	float: left;
}
.active{
	font-weight: bold;
}
.content1{
	width: 33.33%;
	padding-right: 10px;
	float: left;
}
.column1{
	background-color: #ffffff;
	padding: 10px;
	padding-bottom: 5px;
	border-radius: 5px;
	margin-bottom: 15px;
}
.character{
	border-bottom: 1px solid #666633;
	margin-bottom: 10px;
}
.content2{
	width: 33.33%;
	padding-right: 5px;
	padding-left: 5px;
	float: left;
}
.column2{
	background-color: #ffffff;
	padding: 10px;
	padding-bottom: 5px;
	border-radius: 5px;
	margin-bottom: 15px;
}
.content3{
	width: 33.33%;
	padding-left: 15px;
	float: left;
}
.column3{
	background-color: #ffffff;
	padding: 10px;
	padding-bottom: 5px;
	border-radius: 5px;
	margin-bottom: 15px;
}

footer{
	width: 100%;
	margin: auto;
	background-color: #222428;
	float: left
}
.footer_column1{
	width: 40%;
	float: left;
}
.footer_column2{
	width: 30%;
	float: left;
}
.footer_column3{
	width: 30%;
	float: left;
}
.content_footer h3{
	color: #ffffff;
	font-size: 14px;
	margin-left: 40px;
}
.list-unstyled{
	font-size: 12px;
    line-height: 17px;
    color: #919294;
    list-style-type: none;
}
.list-unstyled li a{
	text-decoration: none;
}
.list-unstyled li a:link{
	color: #919294;
}
.list-unstyled li a:visited{
	color: #919294;
}