// Color
$color-base: #777777;
$color-subbase: #263248;
$color-dark: #231e1f;
$color-yellow: #ffc60c;
$color-blue: #0088b7;
$color-light-blue: #0abaef;
$color-gray: #777777;
$color-gray-2: #9f9f9f;
$color-gray-3: #dedede;
$color-white: #ffffff;
$color-orange: #f26200;

$gradient-base: linear-gradient(to bottom, #ffc60c, #ffd426, #ffdf5d);
$gradient-2: linear-gradient(to bottom, #ff9900, #ffcc00);

// Font-size
$font-size-base: 13px;
$font-size-subbase: 12px;
$font-size-h1: 60px;
$font-size-h2: 34px;
$font-size-h3: 30px;
$font-size-h4: 24px;
$font-size-h5: 16px;

//Set Font
@font-face {
	font-family: "myriadpro";
	src: url('../fonts/myriadpro/MYRIADPRO-REGULAR.OTF') format("opentype");
}
@font-face {
	font-family: "myriadpro1";
  src: url('../fonts/myriadpro/MYRIADPRO-BOLD.OTF') format('opentype');
  font-weight: bold;
}

// Fonts
$font-base: "myriadpro", sans-serif;
$font-subbase: 'myriadpro', sans-serif;

