.contact-box {
	letter-spacing: 0.05em;
	margin-bottom: 40px;

	.news-letter__social-list {
		text-align: left;
		padding-left: 0;

		> li a {
			height: 41px;
			width: 41px;
			line-height: 41px;
		}
	}

	.news-letter__social {
		&-facebook {
			background-color: #42599e;
		}

		&-youtube {
			background-color: #ff0000;
		}

		&--google {
			background-color: #e62b33;
		}
	}

	&__title {
		font-size: 20px;
		margin-bottom: 30px;
	}
}

.icon-text {
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 20px;

	> i {
		flex: 0 0 24px;
		margin-right: 18px;
	}

	> span {
		flex-grow: 1;
		font-weight: 300;
		line-height: 1.6em;
		letter-spacing: 0.025em;
		font-size: 15px;
		color: $color-subbase;
	}

	a {
		color: $color-subbase;
		&:hover {
			color: $color-yellow;
		}
	}
}

.contact-top {
	padding-bottom: 75px;
}

.map-heading {
	background: $gradient-base;
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $color-dark;
	padding-top: 28px;
	padding-bottom: 28px;
	user-select: none;
	margin-bottom: 85px;

	i {
		font-size: 34px;
		transition: transform 0.3s;

		&:first-child {
			margin-right: 10px;
		}

		&.roll {
			transform: rotate(180deg);
		}
	}
}

.map-title {
	margin-bottom: 0;
}

#page-map {
	height: 593px;

	@media (max-width: 1199px) {
		height: 689px;
	}

	@media (max-width: 992px) {
		height: 500px;
	}

	@media (max-width: 576px) {
		height: 400px;
	}
}

.box-in-map {
	width: 220px;
	padding: 11px;
	background-color: #fff;
	box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.45);
	color: $color-subbase;
	position: relative;

	&__title {
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 10px;
		padding-right: 15px;
	}

	&__item {
		display: flex;
		margin-bottom: 5px;
		font-size: 12px;

		i {
			flex: 0 0 15px;
			margin-right: 5px;
		}

		a {
			color: $color-subbase;

			&:hover {
				color: $color-yellow;
				text-decoration: none;
			}
		}
	}

	.material-icons {
		font-size: 18px;
		color: $color-yellow;
	}

	&__exit {
		position: absolute;
		top: 0;
		right: 0;
		color: #9f9f9f;
		padding: 3px 8px;

		&:hover {
			color: #9f9f9f;
		}
	}

	&:after {
		content: "";
		position: absolute;
		bottom: -18px;
		left: 50%;
		transform: translate(-50%, 0);
		border-left: 9px solid transparent;
		border-top: 18px solid rgba(0,0,0,0.2);
		border-right: 9px solid transparent;
	}

	&:before {
		content: "";
		position: absolute;
		bottom: -17px;
		left: 50%;
		transform: translate(-50%, 0);
		border-left: 8px solid transparent;
		border-top: 17px solid white;
		border-right: 8px solid transparent;
		z-index: 1;
	}
}

@media (max-width: 991px) {
	.contact-top .message-form {
		margin-bottom: 40px;
	}

	#page-map {
		margin-bottom: 40px;
	}
}