.news-letter {
	background: #0088b7;
	padding: 25px 0;

	&__content {
		display: flex;
		flex-flow: row nowrap;
	}

	&__left {
		flex: 0 0 26%;
		margin-right: 60px;
		height: 46px;
	}

	&__center {
		flex: 0 0 49.5%;
	}

	&__right {
		flex: 0 0 calc(24.5% - 60px);
	}

	&__title {
		font-size: 25px;
		font-weight: 600;
		line-height: 1.12em;
		margin-bottom: 0;
		color: white;
		@media(max-width: 767px){
			font-size: 20px;
		}
	}

	&__subtitle {
		letter-spacing: 0.025em;
		color: white;
	}

	&__form {
		position: relative;
		input[type="email"], input[type="text"] {
			height: 46px;
			width: 100%;
			border: none;
			padding: 0 16px;
			font-size: $font-size-base;

			&::placeholder {
				color: $color-gray;
			}

			&:focus {
				outline: none;
			}
		}

		button {
			position: absolute;
			right: 0;
			top: 0;
			height: 46px;
			line-height: 46px;
			padding: 0 23px;
			color: white;
			background-color: $color-dark;
			font-weight: bold;
			border: none;
			cursor: pointer;
			text-transform: uppercase;

			&:focus {
				outline: none;
			}
		}
	}

	&__social-list {
		text-align: right;
		margin: 0;

		> li {
			list-style-type: none;
			display: inline-block;
			margin-left: 12px;
			transition: box-shadow .3s, transform 0.3s;

			a {
				color: white;
				background-color: $color-dark;
				height: 46px;
				line-height: 46px;
				display: block;
				width: 46px;
				text-align: center;
				transition: color 0.3s, background 0.3s;
			}

			&:hover {
				box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.8);
				transform: scale(1.01);
			}

			&:first-child {
				margin-left: 0;
			}
		}
	}

	&__social-facebook {
		&:hover {
			color: white;
			background-color: #42599e;
		}
	}

	&__social-youtube {
		&:hover {
			color: white;
			background-color: #ff0000;
		}
	}

	&__social-google {
		&:hover {
			color: white;
			background-color: #e62b33;
		}
	}
}

.footer-middle {
	background:#253247;
	padding: 40px 0;
	color: white;
}

.footer-title {
	color: white;
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 15px;
}

.footer-title-2 {
	font-size: 13px;
	letter-spacing: 0.025em;
	color: white;
}

.footer-info {
	line-height: 1.5em;
	font-weight: 300;
	letter-spacing: 0.025em;
	
	a {
		color: white;

		&:hover {
			color: $color-orange;
			text-decoration: none;
		}
	}

	span {
		padding-right: 10px;
	}
}

.footer-list {
	padding: 0;
	margin: 0;

	li {
		list-style-type: none;

		a {
			font-weight: 300;
			letter-spacing: 0.025em;
			line-height: 1.79em;
			color: white;

			&:hover {
				text-decoration: none;
				color: $color-orange;
			}
		}
	}
}

.logo-list {
	a {
		margin-right: 45px;
	}
}

.footer-bottom {
	padding: 7px 0;
}

.copyright {
	text-align: right;
}

@media (max-width: 1199px) {
	.news-letter {
		&__center {
			flex: 0 0 35%;
		}

		&__right {
			flex: 0 0 calc(39% - 60px);
		}
	}
}

@media (max-width: 991px) {
	.news-letter {
		&__content {
			flex-wrap: wrap !important;
		}

		&__center {
			flex: 0 0 100%;
			margin-bottom: 10px;
		}

		&__right {
			flex: 0 0 100%;
		}

		&__left {
			flex: 0 0 100%;
			margin-right: 0;
			margin-bottom: 10px;
			height: auto;
		}

		&__social-list {
			padding: 0;
			text-align: left;
		}
	}

	.footer-title {
		font-size: 20px;
	}

	.footer-title-2 {
		font-size: 14px;
	}

	.footer-col {
		margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.copyright {
		text-align: center;
		margin-top: 10px;
	}

	.footer-middle {
		padding: 30px 0 10px 0;
	}
}

@media (max-width: 767px) {
	.footer-col:nth-child(1n+2) {
		display: none;
	}
}