*{box-sizing: border-box;}
body{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: inherit;
}
h1{
    text-align: center;
}
.quiz{
    max-width: 700px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.content{
    max-width: 500px;
    margin: auto;
    padding: 10px;
}
.question{
    display: block;
    margin: 10px;
    padding: 10px;
    border: solid 1px black;
    font-weight: bold;
    font-size: 24px;
}
.answer {
    display: block;
    margin: 10px;
    padding: 10px;
    border: solid 1px black;
    font-weight: bold;
}
.nextquestion{
    width: 100px;
    height: 30px;
    margin: 10px;
    float: right;
}
.answer:hover{
    transform: translate(3px,-3px);
}

#score{
    display: none
}


