.main{
    color: #122435;
    width: 100%;
    .main-content{
        background-color: #ebdebd;
        color: #000000;
        a{
            font-weight: bold;
            &:hover{
                color: red;
            }

        }
    }
    .main-info{
        font: {
            family: arial;
            size: 30px; 
            weight: bold;
        }
    }
}