// footer
.footer-wrap{
    background: #5B5A5A;
    color: $white-color;
    .text1{
      font-size: 20px;
      font-family: 'Oswald', sans-serif;
    }
    a{
      &:hover{
        opacity: 0.6;
      }
      i{
        font-size: 20px;
      }
    }
  }
  .searchButton1{
    width: 60px;
    height: 36px;
    border: none;
    text-align: center;
    color: $white-color;
    cursor: pointer;
    font-size: 14px;
    background: #057535;
    &:hover{
        opacity: 0.6;
    }
  }