#globalContainer {
    margin: 0 auto;
    position: relative;
    zoom: 1;
}
.clearfix{
	margin: 0 auto;
    width: 980px;
    height: 603.281px;
}
.lfloat{
	float: left;
}
.message{
    margin-right: 15px;
    width: 565px;
}
.message_a{
   color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    width: 450px;
    word-spacing: -1px;
}
.rfloat{
	width: 400px;
	height: 603.281px;
	float: right;
}
.pvl{   
	 padding-top: 20px;
    padding-bottom: 20px;

}
.dangky{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 5px;
}
.fsm{
    font-weight: normal;
    color: #1d2129;
    font-size: 19px;
}

#fullname_field{
	width: 400px;
	height: 49px;
}

._58mh {
    width: 399px;
    height: 49px;
}
.clearfix {
    zoom: 1;
}
._a4y {
    display: inline-block;
    position: relative;
}
._3-90 {
    margin-right: 8px;
}
._ohe {
    float: left;
}

.mbm {
	height: 39px;
	width: 194px;
    margin-bottom: 10px;
    background-color: white;
}
.lfloat {
    float: left;
}
._5dbb {
    position: relative;
    height: 39px;
    width: 194px;
}
._58mh .uiStickyPlaceholderInput {
    width: 194px;
}
._58mf .uiStickyPlaceholderInput {
    background: white;
    border-radius: 5px;
    width: 399px;
}
.uiStickyPlaceholderInput {
    display: inline-block;
    position: relative;
}
._58mf ._58mg, ._58mf .uiStickyPlaceholderInput .placeholder {
    font-size: 18px;
    padding: 8px 10px;
}

._58mf .uiStickyPlaceholderInput .placeholder {
    box-sizing: border-box;
    overflow: hidden;
    padding-left: 11px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div.uiStickyPlaceholderEmptyInput .placeholder {
    display: block;
     width: 194px;
    height: 39px;
}
.uiStickyPlaceholderInput .placeholder {
    color: #999;
    cursor: text;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

div.placeholder{
        font-size: 18px;
    padding: 8px 10px;
    box-sizing: border-box;
        height: 39px;
    width: 194px;
}
input#u_0_j.inputtext{
        border: 1px solid #bdc7d8;
        border-radius: 5px;
    margin: 0;
        font-size: 18px;
    padding: 8px 10px;
        width: 172px;
}

input#u_0_l.inputtext{
        border: 1px solid #bdc7d8;
        border-radius: 5px;
    margin: 0;
        font-size: 18px;
    padding: 8px 10px;
        width: 172px;
}
._a4y {
    display: inline-block;
    position: relative;
}

.mbm {
    margin-bottom: 10px;
}
._5dbb {
    position: relative;
        height: 31px;
    width: 194px;
}
._58mf .uiStickyPlaceholderInput {
    background: white;
    border-radius: 5px;
    width: 399px;
}

.uiStickyPlaceholderInput {
    display: inline-block;
    position: relative;
}
div.placeholder1{
        font-size: 18px;
    padding: 8px 10px;
    box-sizing: border-box;
        height: 39px;
    width: 399px;
    border: 1px solid #bdc7d8;
        border-radius: 5px;
        color: #999;
}
div.placeholder2{
        font-size: 18px;
    padding: 8px 10px;
    box-sizing: border-box;
        height: 39px;
    width: 399px;
    border: 1px solid #bdc7d8;
        border-radius: 5px;
        color: #999;
}
._2_68 {
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
}

.mbs {
    margin-bottom: 5px;
}
.mtm {
    margin-top: 10px;
}
._5k_5 {
    position: relative;
}

._5k_4 {
    display: inline-block;
}
a:hover {
    text-decoration: underline;
}

._58ms {
    font-size: 11px;
    max-width: 150px;
}
._58ms {
    display: inline-block;
  width: 150px;
    vertical-align: middle;

}
.mlm {
    margin-left: 10px;

}
a {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
}
._58mt {
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    padding: 0 10px 0 3px;
}
._58mu {
    width: 399px;
}
._58mu ._58mv {
    color: #777;
    font-size: 11px;
    width: 316px;
}

p {
    margin: 1em 0;
}
._58mf ._6o {
    font-size: 19px;
}

._6v {
    font-weight: bold;
}
._6o {
    font-size: 19px;
    line-height: 126%;
}
._58mi {
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
}
._6wl {
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
}

._6j {
    border: 1px solid;
    border-color: #3b6e22;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.mvm {
    margin-top: 10px;
    margin-bottom: 10px;
}
button {
    margin: 0;
}
._58mk {
    border-top: 1px solid #dddfe2;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 15px;
}

