*{box-sizing: border-box;}
body{
	margin: 50px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-size: 16px;
	font-family: inherit;
}
.title{
	width: 960px;
	text-align: center;
	margin: 0 auto;
	text-transform: uppercase;
	background: #d1e0e0;
}
.grid-container{
	width: 900px;
	margin: 0 auto;
	text-align: center;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto auto;
}
.grid-item img{
	width: 270px;
}
img:hover{
	border-radius: 10px;
	opacity: 0.8;
}
.grid-item a:hover{
	color: red;
}
a{
	text-decoration: none;
	color: #000000;
}
.content{
	width: 900px;
	margin: 0 auto;
	text-align: justify;
}
